{% extends 'base.html' %}

{% block body %}


<p>Computers for employee {{ employee }}</p>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>MAC address</th>
            <th>IP address</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for computer in computers %}

        <tr>
            <td>{{ computer.name }}</td>
            <td>{{ computer.macAddress }}</td>
            <td>{{ computer.ipAddress }}</td>
            <td>{{ computer.description }}</td>
        </tr>

        {% endfor %}
    </tbody>
</table>

<br />

<a href="/">Return to home</a>

{% endblock %}