{% extends 'base.html' %}

{% block body %}

<h3>Add new computer for employee</h3>

<form method="post" action="/submit_new_computer">

    <label class="field">
        Computer name: 
        <input type="text" name="name" required/>
    </label>

    <label class="field">
        MAC address:
        <input type="text" name="macaddress" required/>
    </label>     

    <label class="field">
        IP address:
        <input type="text" name="ipaddress" required/>
    </label>
    
    <label class="field">
        Employee:
        <select name='employee' required>
            <option value="" selected>---</option>

            {% for employee in employees %}
                <option value="{{ employee.abbreviation }}">{{ employee.abbreviation }}</option>
            {% endfor %}

        </select>
    </label>
    
    <label class="field">
        Description: <br/>
        <textarea type="text" name="description" maxlength="500"></textarea>
    </label>

    <input type='submit' />

</form>


<h3>Request computers for employee</h3>

<form method="post" action="/get_computers">

    <label class="field">
        Employee to request computers for:
        <select name='employee' required>
            <option value="" selected>---</option>

            {% for employee in employees %}
                <option value="{{ employee.abbreviation }}">{{ employee.abbreviation }}</option>
            {% endfor %}
            
        </select>
    </label> 

    <input type='submit'/>

</form>


<h3>Remove computer from employee</h3>

<form method="post" action="/remove_computer">

    <label class="field">
        Computer to remove from employee:
        <select name='computer' required>
            <option value="" selected>---</option>

            {% for computer in computers %}
                <option value="{{ computer.id }}">{{ computer.name }}</option>
            {% endfor %}
        </select>
    </label>

    <input type='submit'/>

</form>


<h3>Reassign computer to employee</h3>

<form method="post" action="/reassign_computer">

    <label class="field">
        Computer:
        <select name='computer' required>
            <option value="" selected>---</option>

            {% for computer in computers %}
                <option value="{{ computer.id }}">{{ computer.name }}</option>
            {% endfor %}
        </select>
    </label>

    <label class="field">
        Current owner:
        <select name='employee' required>
            <option value="" selected>---</option>

            {% for employee in employees %}
                <option value="{{ employee.abbreviation }}">{{ employee.abbreviation }}</option>
            {% endfor %}
            
        </select>
    </label>

    <input type='submit'/>

</form>

{% endblock %}